/* work sans font from google  fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {

    font-family: 'Work Sans', sans-serif;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-title-img {
    width: 60px;
    height: 35px;
    margin-right: 10px;
}

.nav-title-colour {
    color: #FF42A5;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 32px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.banner {
    display: flex;
    background: #FFF;
}

.banner-content {
    /* width: 901px;
    height: 700px; */
    background-color: #FFF;
}


.banner-title-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 800;
}

.p-1 {
    columns: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}



.btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 15px;
    gap: 10px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 10px 15px;
    gap: 10px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
}
.btn-3 {
    border: none;
    border-radius: 5px;
}

.banner-img {
    width: 50%;
    height: 50%;
    margin-left: 200px;
}

/* Main section start */
.section {
    display: flex;
}

.main-section {
    margin: 125px;

}

.main-title {
    margin-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 700;
}

.main-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.our-purpose {
    font-size: 1rem;
    color: #534C64;
    font-weight: 500;
}

.h-1 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

.section-h-p {
    text-align: center;
}

.section-2-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.section-2-description {
    color: #534C64;

    font-size: 18px;

    font-weight: 400;

}

.title-colour {
    color: #F948B2;
}

.main-section-img-2 {
    display: flex;
    justify-content: space-evenly;
}

.main-section-p {
    display: flex;
}

.p-4 {
    margin-right: 24px;
    margin-left: 24px;
    width: 342px;
    height: 60px;
}

.p-5 {
    margin-right: 24px;
    width: 342px;
    height: 60px;
    margin-left: 24px;
}

.p-6 {
    margin-right: 24px;
    width: 342px;
    height: 60px;
    margin-left: 24px;
}

.p-7 {
    margin-right: 24px;
    width: 342px;
    height: 60px;
    margin-left: 24px;
}

.main-part {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-part-title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 300px;
}

.main-part-colour {
    color: #F948B2;
}

.main-part-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 300px;
}

.main-part-img {
    position: relative;
}

.img-66 {
    position: absolute;
    right: 60%;
    bottom: -5%;
    
    
}

.main-last-part-1 {
    display: flex;
    padding: 37px;
    margin-top: 60px;
    margin-left: 230px;
    margin-right: 280px;
}
.main-last-part-2 {
    display: flex;
    margin-right: 397px;
    margin-left: 335px;
    padding: 5px;

}
.Rectangle-11:hover {
    border: 1px  solid red;
    border-radius: 5px;
}
.Rectangle-12:hover {
    border: 1px  solid red;
    border-radius: 5px;
}

/* footer section start */
.footer-class {
    background-color: #0B0223;
    height: 400px;
}

.last-name-colour {
    color: white;
}

.footer-title {
    text-align: center;
    padding-top: 20px;
}

.footer-description {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-description-2 {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    gap: 10px;
}

.footer-description-3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;

}


/* responsive styles */
/* for mobile screen */
@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        display: flex;
    }

    nav>ul {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
    }

    .section {
        display: flex;
        flex-direction: column;
    }
    .banner-img {
        
            width: 100%;
            max-height: 5px;
            
    }
    .main-section-img {
        width: 100%;
    }
    .main-section-img-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-section-p {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-part {
        display: grid;
        flex-direction: column;
    }
    .main-part-1 {
        padding-right: 200px;
    }
    

}

/* for tablet and other screen */
@media screen and (min-width:576px) and (max-width:960px) {
    
    header {
        flex-direction: column;
    }
    nav {
        flex-direction: column;
    }
    .section-2 {
        flex-direction: column;
    }
    .main-section-img-2 {
        flex-direction: column;
    }
    .main-section-p {
        flex-direction: column;
    }
   .footer-class {
    width: 85%;
   }
}